.categories-page {
  min-height: 100vh;
  margin-top: 60px;
  margin-inline-start: 200px;
  padding-inline: 20px;
  padding-block: 10px;
}

.categories-page .search-container {
  text-align: center;
  margin-bottom: 20px;
}

.categories-page .search-container input {
  width: 250px;
  padding-inline: 8px 14px;
  padding-block: 5px;
  font-size: 12px;
}

.categories-page .search-container button {
  padding-inline: 14px;
  padding-block: 5px;
  font-size: 12px;
}

.categories-page .add-category-button-container {
  text-align: end;
  margin-bottom: 20px;
}

.categories-page .add-category-button-container button {
  background-color: var(--blue-color);
  color: white;
  border: none;
  padding-inline: 12px;
  padding-block: 8px;
  font-size: 12px;
}

.categories-page .response-container {
  width: fit-content;
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 20px;
  border-radius: 4px;
  display: none;
  margin: auto;
  margin-bottom: 10px;
}

.categories-page .empty {
  text-align: center;
  font-size: 18px;
  margin-top: 10%;
}

.categories-page table {
  width: 100%;
  border-collapse: collapse;
  border: 1px #ddd solid;
}

.categories-page table th,
.categories-page table tr,
.categories-page table td {
  border: 1px #232f3e solid;
  padding: 6px;
}

.categories-page table tr td:last-child {
  width: 135px;
}

.categories-page table th {
  text-align: start;
  background-color: #232f3e;
  color: white;
}

.categories-page table tr {
  font-size: 14px;
}

.categories-page table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.categories-page table tr:hover {
  background-color: #ddd;
}

.categories-page table td button {
  border: none;
  border-radius: 4px;
  padding: 4px 6px;
  margin-inline: 6px;
  background-color: transparent;
}

.categories-page table td button:first-child {
  color: var(--blue-color);
}

.categories-page table td button:nth-child(2) .fa-ban {
  color: red;
}

.categories-page table td button:nth-child(2) .fa-circle-check {
  color: rgb(12, 143, 0);
}

.categories-page table td button:last-child {
  color: rgb(202, 0, 0);
}

.categories-page .pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.categories-page .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.categories-page .pagination a.active {
  background-color: var(--grey-color);
  color: white;
}

.categories-page .pagination a:hover:not(.active) {
  background-color: #ddd;
}

.edit-category-model-container,
.add-category-model-container {
  position: absolute;
  width: 100%;
  inset-inline-start: 0px;
  top: 0px;
  text-align: -moz-left;
  display: flex;
  justify-content: center;
}

.edit-category,
.add-category {
  background-color: rgb(247, 247, 247);
  position: absolute;
  z-index: var(--model-z-index);
  padding-inline: 10px;
  padding-block: 20px;
  top: 70px;
}

.edit-category .header,
.add-category .header {
  color: var(--light-grey-color);
  font-size: 16px;
  margin-inline-start: 8px;
  margin-bottom: 30px;
}

.edit-category .response-container,
.add-category .response-container {
  width: calc(100% - 40px);
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 10px;
  border-radius: 4px;
  display: none;
  margin-inline: 20px;
  margin-bottom: 20px;
}

.edit-category label,
.add-category label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}

.edit-category input,
.add-category input {
  border: 1px rgb(201, 201, 201) solid;
  width: 200px;
  font-size: 14px;
  padding: 4px;
}

.edit-category select,
.add-category select {
  background-color: white;
  border: 1px rgb(201, 201, 201) solid;
  width: 200px;
  font-size: 13px;
  padding: 4px;
}

.edit-category button,
.add-category button {
  border: 1px rgb(201, 201, 201) solid;
  color: white;
  width: 200px;
  font-size: 12px;
  padding-block: 8px;
}

.edit-category .form-box .parent-id-name-box,
.edit-category .form-box .status-image-box,
.edit-category .form-box .actions-box,
.add-category .form-box .parent-id-name-box,
.add-category .form-box .status-image-box,
.add-category .form-box .actions-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 20px;
}

.edit-category .form-box .parent-id-name-box div,
.edit-category .form-box .status-image-box div,
.edit-category .form-box .actions-box button,
.add-category .form-box .parent-id-name-box div,
.add-category .form-box .status-image-box div,
.add-category .form-box .actions-box button {
  margin-inline: 20px;
}

.edit-category .form-box .status-image-box .image input,
.add-category .form-box .status-image-box .image input {
  font-size: 8px;
  background: white;
}

.edit-category .form-box .image-container,
.add-category .form-box .image-container {
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}

.edit-category .form-box .image-container img,
.add-category .form-box .image-container img {
  width: 20%;
}

.edit-category .form-box .actions-box,
.add-category .form-box .actions-box {
  margin-top: 40px;
  margin-bottom: 20px;
}

.edit-category .form-box .actions-box button:first-child,
.add-category .form-box .actions-box button:first-child {
  background-color: rgb(0, 81, 255);
}

.edit-category .form-box .actions-box button:last-child ,
.add-category .form-box .actions-box button:last-child {
  background-color: rgb(182, 0, 0);
}