.offers-page {
  min-height: 100vh;
  margin-top: 60px;
  margin-inline-start: 200px;
  padding-inline: 20px;
  padding-block: 10px;
  margin-bottom: 30px;
}

.offers-page .response-container {
  width: fit-content;
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 20px;
  border-radius: 4px;
  display: none;
  margin: auto;
  margin-bottom: 10px;
}

.offers-page .slider,
.offers-page .deals {
  margin-top: 30px;
}

.offers-page .title-add-button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offers-page .title-add-button-container .title {
  width: 50%;
}

.offers-page .title-add-button-container .title h2 {
  color: var(--grey-color);
  margin-inline-start: 4px;
  margin-bottom: 1px;
  margin-top: 0px;
}

.offers-page .title-add-button-container .title span {
  display: block;
  height: 1px;
  width: 30%;
  background-color: #000;
}

.offers-page .title-add-button-container button {
  height: 30px;
  background-color: var(--blue-color);
  color: white;
  border: none;
  padding-inline: 16px;
  padding-block: 8px;
  font-size: 12px;
  margin-top: 30px;
}

.model-container {
  position: absolute;
  width: 100%;
  inset-inline-start: 0px;
  top: 0px;
  text-align: start;
  display: flex;
  justify-content: center;
}

.add-slider,
.add-deals {
  background-color: rgb(247, 247, 247);
  position: absolute;
  z-index: var(--model-z-index);
  padding-inline: 10px;
  padding-block: 20px;
  top: 70px;
  width: 500px;
}


.offers-page .empty {
  text-align: center;
  font-size: 18px;
  margin-top: 10%;
}

.offers-page table {
  width: 100%;
  border-collapse: collapse;
  border: 1px #ddd solid;
}

.offers-page table th,
.offers-page table tr,
.offers-page table td {
  border: 1px #232f3e solid;
  padding: 6px;
}

.offers-page table tr td:last-child {
  width: 94px;
}

.offers-page table th {
  text-align: start;
  background-color: #232f3e;
  color: white;
}

.offers-page table tr {
  font-size: 14px;
}

.offers-page table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.offers-page table tr:hover {
  background-color: #ddd;
}

.offers-page table td button {
  border: none;
  border-radius: 4px;
  padding: 4px 6px;
  margin-inline: 6px;
  background-color: transparent;
}

.offers-page table td button:first-child {
  color: var(--blue-color);
}

.offers-page table td button .fa-ban {
  color: red;
}

.offers-page table td button .fa-circle-check {
  color: rgb(12, 143, 0);
}

.offers-page table td button:last-child {
  color: rgb(202, 0, 0);
}

.model-container .header {
  color: var(--light-grey-color);
  font-size: 16px;
  margin-inline-start: 8px;
  margin-bottom: 30px;
}

.model-container .response-container {
  width: calc(100% - 40px);
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 10px;
  border-radius: 4px;
  display: none;
  margin-inline: 20px;
  margin-bottom: 20px;
}

.model-container .form-box {
  margin-top: 20px;
}

.model-container .form-box label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}

.model-container .form-box input {
  border: 1px rgb(201, 201, 201) solid;
  width: 200px;
  font-size: 14px;
  padding: 4px;
}

.model-container .form-box select {
  background-color: white;
  border: 1px rgb(201, 201, 201) solid;
  width: 200px;
  font-size: 13px;
  padding: 4px;
}

.model-container .form-box button {
  border: 1px rgb(201, 201, 201) solid;
  color: white;
  width: 200px;
  font-size: 12px;
  padding-block: 8px;
}

.model-container .form-box .product-id-price-box,
.model-container .form-box .actions-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 20px;
}

.model-container .form-box .status-box,
.model-container .form-box .images-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 20px;
}

.model-container .form-box .images-box,
.model-container .form-box .product-id-price-box div,
.model-container .form-box .status-box,
.model-container .form-box .actions-box button {
  margin-inline: 20px;
}

.model-container .form-box .image-box .image input {
  font-size: 8px;
  background: white;
}

.model-container .form-box .image-container {
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}

.model-container .form-box .image-container img {
  width: 20%;
  margin-inline: 6px;
}

.model-container .form-box .actions-box {
  margin-top: 40px;
  margin-bottom: 20px;
}

.model-container .form-box .actions-box button:first-child {
  background-color: rgb(0, 81, 255);
}

.model-container .form-box .actions-box button:last-child {
  background-color: rgb(182, 0, 0);
}