.settings-page {
  min-height: 100vh;
  margin-top: 60px;
  margin-inline-start: 200px;
  padding-inline: 20px;
  padding-block: 10px;
}

.settings-page .response-container {
  width: fit-content;
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 20px;
  border-radius: 4px;
  display: none;
  margin: auto;
  margin-bottom: 10px;
}

.settings-page .form-box{
  margin-block: 30px;
  margin-inline: 20px;
}

.settings-page label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.settings-page input, .settings-page textarea, .settings-page select {
  border: 1px rgb(201, 201, 201) solid;
  background-color: white;
  width: 400px;
  font-size: 14px;
  padding: 4px;
}

.settings-page button {
  border: 1px rgb(201, 201, 201) solid;
  color: white;
  width: 100px;
  font-size: 12px;
  padding-block: 8px;
}

.settings-page .form-box div {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  margin-bottom: 30px;
}

.settings-page .form-box .action-box {
  margin-top: 40px;
  margin-bottom: 20px;
  align-items: end;
}

.settings-page .form-box .action-box button {
  background-color: rgb(0, 81, 255);
}